.side-bar {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
}
.side-bar .item {
  float: left;
}
.div-1 hr {
  width: 10px;
  height: 15px;
  display: inline;
}
.div-1 {
  margin: 0rem 1rem;
}
.content-body {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
iframe {
  width: 80%;
  height: 90%;
  border-radius: 10px;
}
